.user-menu > span {
  display: block;
  padding: 15px 15px;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 991px) {
  .navbar-custom-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
  }
}
