<div class="card border-success mb-3">
  <div class="card-header bg-transparent border-success">{{dragon.name}}</div>
  <div class="card-body text-success">
    <h6 class="card-subtitle mb-2 text-muted">Criado em: {{dragon.createdAt | dateFormat}}</h6>
    <p class="card-text text-muted">Tipo: {{dragon.type}}
    </p>
  </div>
  <div class="card-footer bg-transparent border-success text-rigth">

    <a href="#" [routerLink]="['/dragons/editar', dragon.id]" class="btn btn-sm btn-default mr-2">Editar</a>
    <button type="button" class="btn btn-sm btn-danger ml-2" (click)="deletarItem(dragon.id)">Deletar</button>
  </div>
</div>