<div class="login-box">
  <div class="login-logo">
    <span>NG Dragons</span>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Entre para iniciar sua sessão</p>
    <form [formGroup]="loginForm" (submit)="submitForm()">
      <app-input-container [showTip]="false">
        <input type="email" class="form-control" formControlName="email" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </app-input-container>
      <app-input-container [showTip]="false">
        <input type="password" class="form-control" formControlName="password" placeholder="Senha">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </app-input-container>
      <div class="row my-btn">
        <div class="col-xs-8"></div>
        <div class="col-xs-4">
          <button type="submit" [disabled]="loginForm.invalid"
            class="btn btn-primary btn-block btn-flat pull-rigth">Entrar</button>
        </div>
      </div>
    </form>
    <div *ngIf="f.email.errors || f.password.errors" class="text-danger mt-5">
      <hr>
      <div *ngIf="submittingForm && f.email.errors.required">E-mail é obrigatório</div>
      <div *ngIf="submittingForm !== null && f.email.errors?.email">E-mail é inválido</div>
      <div *ngIf="submittingForm !== null && f.email.errors?.equal">Para entrar use o e-mail: {{emailTesting}}</div>
      <div *ngIf="submittingForm !== null && f.password.errors?.equal">Para entrar use a senha: {{passwordTestig}}
      </div>
    </div>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->